<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的购物车</title>
	<link rel="icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/null-shopcart.css">
</head>
<body>

	<div class="top-warp">
		<div class="top-main">
			<ul>
				<li class="top-item-r"><a href="">我的订单</a></li>
			</ul>
		</div>
	</div>
	<div class="lgbox">
		<div class="top-logo">
			<div class="logo">
				<a href=""><img src="images/	logo.png" alt="">
				</a>
			</div>
		</div>
	</div>
		
	
	<div class="cart-box">
		<div class="gcart">
			<div class="hd">
				<h3>我的购物车</h3>
			</div>
			<div class="bd">
				<div class="null-cart">
					<a href="index.html" title="立马去购物"></a>
				</div>
			</div>	
		</div>
	</div>


	
</body>
</html>
