<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改资料</title>
	<link rel="stylesheet" href="<?= HC ?>update-data.css">
	<link rel="icon" href="<?= HI ?>favicon.ico">
</head>
<body>
	<?php $this->usertop(); ?>
	<div class="bd">
		<div class="bd-s">
			<?php $this->userleft(); ?>
			<div class="data-bd">
				<div class="user-data">
					<div class="update-tit">
						<span>修改资料</span>
					</div>
					<form action="index.php?c=mycenter&m=doupdata" method="post">
						<ul>
							<input type="hidden" name="id" value="<?= $res['id'] ?>">
							<li>
								<label>昵称 : </label>
								<input type="text" name="name" maxlength="15" value="<?= $res['name'] ?>">
							</li>
							<li>
								<label>性别 : </label>
								<select name="sex" id="level" class="sex" style="width: 306px; height: 38px;background:#f2f2f2;outline: none;border: 1px solid #ccc;">
       							  <option value="1" <?= $res['sex']==1?'selected':'' ?>>&nbsp;&nbsp;男</option>
       							  <option value="2" <?= $res['sex']==2?'selected':'' ?>>&nbsp;&nbsp;女</option>
       							</select>
							</li>
							<li>
								<label>邮箱 : </label>
								<input type="text" name="email" maxlength="20" value="<?= $res['email'] ?>">
							</li>
							<li>
								<label>手机 : </label>
								<input type="text" name="tel" maxlength="11" value="<?= $res['tel'] ?>">
							</li>
							<li>
								<label>年龄 : </label>
								<input type="text" name="age" maxlength="3" value="<?= $res['age'] ?>">
							</li>
							<li>
								<label>地址 : </label>
								<input type="text" name="address" maxlength="100" value="<?= $res['address'] ?>">
							</li>
						</ul>
						<div class="sub-box">
							<input type="submit" name="" value="保存修改">
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>



	<!-- 底部 -->
	<div class="bottom-box">
		<div class="bottom-copyright">
<div style="padding-top:5%" align="center">@2020 1846小组 ICP备案号：<a href="http://beian.miit.gov.cn/" ;="" target="_blank">粤ICP备20027720号</a></div>
		</div>
	</div>	
</body>
</html>
