<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的订单</title>
	<link rel="stylesheet" href="css/null-address.css">
	<link rel="icon" href="images/favicon.ico">
</head>
<body>
	<!-- 顶部导航栏	 -->
	<div class="top-warp">
		<div class="top-main">
			<ul>
				<li class="top-item-l"><a href="">帮助中心</a></li>
				<li class="top-item-l"><a href="">收藏本站</a></li>
				<li class="top-item-r"><a href=""><i></i>手机360商城</a></li>
				<li class="top-item-r"><a href="">我的订单</a></li>
				<li class="top-item-r"><a href="">注册</a></li>
				<li class="top-item-r"><a href="">登陆</a></li>
			</ul>
		</div>
	</div>
	
	<!-- head-logo部分 -->
	<div class="head-warp">
		<div class="head-main">
			<div class="logo-img">
				<a href="index.html"><img src="images/logo.png"></a>
			</div>
			<div class="search">
				<form action="" class="search-item">
					<input type="text" class="search-txt">
					<input type="submit" value="搜索" class="search-btn">
				</form>
				<ul>
					<li><a href="">N7</a></li>
					<li><a href="">儿童手表</a></li>
					<li><a href="">N6</a></li>
					<li><a href="">行车记录仪</a></li>
					<li><a href="">摄像机夜视版</a></li>
				</ul>
			</div>
			<div class="head-cart">
				<a href="">
					<i class="icon"></i>
					<span>我的购物车</span>
				</a>
			</div>
			<div class=""></div>
		</div>
	</div>

	<!-- 菜单部分 -->
	<div class="nav-warp">
		<div class="nav-main">
			<a href="">
				<div class="nav-main-l">
					全部智能酷品
				</div>
			</a>			
			<ul>
				<li><a href="">手机</a></li>
				<li><a href="">行车记录仪</a></li>
				<li><a href="">儿童手表</a></li>
				<li><a href="">摄像机</a></li>
				<li><a href="">路由器</a></li>
				<li><a href="">社区</a></li>
				<li><a href="">扫地机器人</a></li>
			</ul>		
		</div>
	</div>	

	<!-- body 开始 -->
	<div class="user-body">
		<div class="space"></div>
		<div class="user-box">
			<!-- 个人中心菜单 -->
			<div class="user-menu">
				<div class="menu-title">
					<span>个人中心</span>
				</div>
				<div class="menu-list">
					<a href="" >我的订单</a>
					<a href="shopcart.html">购物车
					</a>
					<a href="My center.html">个人信息
					</a>
					<a href="">收货地址</a>
				</div>
				
			</div>
			<!-- 右侧主体部分开始 -->
			<div class="user-main">
				<div class="addr-box">
					<h2>收货地址</h2>
					<!-- 地址开始 -->
					<div class="addr-main">
						<div class=null-address>
							<span>暂无收货地址,快去添加吧</span>
							<div class="btn-add">
								<a href="add-address.html" class="add-btn">
								</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 底部 -->
	<div class="mod-footer">
		<div class="foot-banner">
			<div class="foot-item">
				<div class="icon7"><i>&#xe691;</i>
				&nbsp;7天无理由退货
				</div>
				<div class="icon7"><i>&#xe636;</i>
				&nbsp;质量问题15天包换
				</div>
				<div class="icon7"><i>&#xe600;</i>
				&nbsp;满99元包邮
				</div>
			</div>
		</div>
		<div class="foot-help">
			<div class="foot-help-main">
				<dl>
					<dt>帮助中心</dt>
					<dd><a href="">用户登录与密码找回</a></dd>
					<dd><a href="">用户注册协议</a></dd>
					<dd><a href="">购买指南</a></dd>
					<dd><a href="">支付方式</a></dd>
					<dd><a href="">赠送与说明</a></dd>
					<dd><a href="">用户注销</a></dd>
				</dl>
				<dl>
					<dt>售后服务</dt>
					<dd><a href="">7日无理由退货</a></dd>
					<dd><a href="">质量问题15日内换货</a></dd>
					<dd><a href="">保修条款</a></dd>
					<dd><a href="">售后服务运费规则</a></dd>
				</dl>
				<dl>
					<dt>联系我们</dt>
					<dd><span>400-6822-360</span></dd>
					<dd>周一至周五9:00-18:00</dd>
					<dd><span>400-0111-366 <i>（手机类产品）</i></span></dd>
					<dd>周一至周日 9:00-21:00</dd>
					<dd>（仅收市话费）</dd>
				</dl>
				<dl>
					<dd><img src="images/ewm.png"></dd>
				</dl>
			</div>

		</div>
		<div class="copyright">
			<p>360商城©2013-2018 360公司版权所有 京ICP备17017089号 京公网安备11000002000006号</p>
		</div>
	</div>
</body>
</html>