<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>编辑品牌</title>
	<link rel="stylesheet" href="../css/order-goods.css">
</head>
<body>
	<div class="table-wrap">
		<div class="table-main">
			<div class="ibox-title">
				<h3>编辑品牌</small></h3>
			</div>
			<div class="ibox-content">	
				<form action="" class="form-main">

					<div class="form-group">
						<ul>
							<li>
								<span class="form-title">所属品牌</span>
									<select class="goods-cate">
										<option value="0">请选择</option>
										<option value="">小米</option>
										<option value="">华为</option>

									</select>
							
							</li>
							<li>
								<span class="form-title">品牌名称</span>
								<input class="form-text" type="text" >
							</li>
							<li>
								<span class="form-title">品牌图标</span>
								<input class="form-icon" type="file" placeholder="请输入用户名">
								<em class="form-error">图标比例1：1，最佳尺寸100*100</em>
							</li>
							<li>
								<span class="form-title">是否显示</span>
								<label class="is-goods-sale"><input type="radio" >下架</label>
								<label class="is-goods-sale"><input type="radio" >上架</label>
							</li>
							<li>
								<span class="form-title">排序</span>
								<input class="goods-lower" type="number" >
								<em class="form-error">数字越小越靠前</em>
							</li>
							<li>
								<span class="form-title"></span>
								<input class="form-submit-btn" type="submit" value="提交" name="">
								<a class="form-back-btn"  name="">返回</a>
							</li>
						</ul>
					</div>

				</form>
			</div>
		</div>
	</div>


</body>
</html>
