<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>查看商品图片</title>
	<link rel="stylesheet" href="<?= AC ?>goods-table.css">
</head>
<body>
	<div class="table-wrap">
		<div class="table-main">
			<div class="ibox-title">
				<h3>查看商品图片</small></h3>
			</div>
			<div class="ibox-content">	
					
					<div class="form-group">
						<ul>
							
							<li>
								<span class="form-title">商品图片</span>
								<?php foreach ($res as $k => $v): ?>
									<em class="from-goodsimg">
										<div class="form-goods-img">
											<img src="<?= imgUrl($v['icon'])?>">
										</div>
										<div class="form-goodsimg-cz">
											<a href="index.php?c=goods&m=doisFace&id=<?= $v['id'] ?>&gid=<?= $v['gid'] ?>"><?= $v['face'] == 1 ?  '封面' : '设为封面'?>
											</a>

											<a href="index.php?&c=goods&m=doDelimg&id=<?=$v['id']?>">删除</a>
										</div>
									</em>
								<?php endforeach ?>
							</li>
							<li>
								<span class="form-title"></span>
								<a href="index.php?c=goods&m=addimg&id=<?=$v['gid']?>" class="form-back-btn-add"  name="">添加图片</a>
								<a href="index.php?c=goods" class="form-back-btn"  name="">返回</a>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</body>
</html>
