<!-- 底部 -->
	<div class="mod-footer">
		<div class="foot-banner">
			<div class="foot-item">
				<div class="icon7"><i>&#xe691;</i>
				&nbsp;7天无理由退货
				</div>
				<div class="icon7"><i>&#xe636;</i>
				&nbsp;质量问题15天包换
				</div>
				<div class="icon7"><i>&#xe600;</i>
				&nbsp;满99元包邮
				</div>
			</div>
		</div>
		<div class="foot-help">
			<div class="foot-help-main">
				<dl>
					<dt>帮助中心</dt>
					<dd><a href="">用户登录与密码找回</a></dd>
					<dd><a href="">用户注册协议</a></dd>
					<dd><a href="">购买指南</a></dd>
					<dd><a href="">支付方式</a></dd>
					<dd><a href="">赠送与说明</a></dd>
					<dd><a href="">用户注销</a></dd>
				</dl>
				<dl>
					<dt>售后服务</dt>
					<dd><a href="">7日无理由退货</a></dd>
					<dd><a href="">质量问题15日内换货</a></dd>
					<dd><a href="">保修条款</a></dd>
					<dd><a href="">售后服务运费规则</a></dd>
				</dl>
				<dl>
					<dt>联系我们</dt>
					<dd><span>400-6822-360</span></dd>
					<dd>周一至周五9:00-18:00</dd>
					<dd><span>400-0111-366 <i>（手机类产品）</i></span></dd>
					<dd>周一至周日 9:00-21:00</dd>
					<dd>（仅收市话费）</dd>
				</dl>
				<dl>
					<dd><img src="<?= HI ?>ewm.png"></dd>
				</dl>
			</div>

		</div>
		<div class="copyright">
			<p>360商城©2013-2018 360公司版权所有 京ICP备17017089号 京公网安备11000002000006号</p>
		</div>
	</div>